#kodersSlidershow
{
	margin: 0;
	padding: 0;
		
}

#mainImageStage
{
	position: relative;

}

#theField
{
	height: 492px;
	width: 492px;
	position: relative;
	
}

#ondeckImage
{
	display: none;
	position: absolute;
}

#battersboxImage
{
	display: block;
	position: absolute;
}

#showersImage
{
	display: none;
	position: absolute;
}

.testspan
{
	display:inline-block;
}